<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyf.courseschedulingsystem.mapper.CourseMapper">
    <select id="list" resultType="com.zyf.courseschedulingsystem.vo.course.CourseVO">
        select * from course where is_del = 0 and user_id = #{userId} order by id;
    </select>
</mapper>
